Repository resteasy/resteasy, pull requests merged in 2021-06, with the labels that each got.

#2827 resolved deprecated Netty methods and classes
  resteasy-client-reactor-netty/src/test/java/org/jboss/resteasy/client/jaxrs/engines/ReactorNettyClientHttpEngineByteBufReleaseTest.java
  resteasy-client-reactor-netty/src/test/java/org/jboss/resteasy/client/jaxrs/engines/ReactorNettyClientHttpEngineTest.java
  server-adapters/resteasy-netty4/src/main/java/org/jboss/resteasy/plugins/server/netty/SniConfiguration.java
Labels: main

#2824 FormParam splitting
  resteasy-core/src/main/java/org/jboss/resteasy/plugins/providers/FormUrlEncodedProvider.java
  testsuite/unit-tests/src/test/java/org/jboss/resteasy/test/resource/FormParamInjectionTest.java
  testsuite/unit-tests/src/test/java/org/jboss/resteasy/test/resource/resource/FormParamResource.java
Labels: main

#2847 [RESTEASY-2931] Updated dependencies for quarkus main branch.
  jboss-modules/build.xml
  jboss-modules/pom.xml
  resteasy-dependencies-bom/pom.xml
  testsuite/microprofile-tck/pom.xml
Labels: 4.6

#2843 Port of Travis CI removal
  .github/workflows/maven.yml
  .travis.yml
  README.md
  pom.xml
  resteasy-dependencies-bom/pom.xml
  resteasy-spring-web/pom.xml
  testsuite/README.MD
  testsuite/arquillian-utils/src/main/java/org/jboss/resteasy/setup/AbstractUsersRolesSecurityDomainSetup.java
  testsuite/config/enable-elytron-full.cli
  testsuite/integration-tests-spring-web/deployment/pom.xml
  testsuite/integration-tests-spring-web/pom.xml
  testsuite/integration-tests-spring/deployment/pom.xml
  testsuite/integration-tests-spring/inmodule/pom.xml
  testsuite/integration-tests-spring/inmodule/src/test/java/org/jboss/resteasy/test/spring/inmodule/SpringMvcHttpResponseCodesTest.java
  testsuite/integration-tests-spring/pom.xml
  testsuite/integration-tests/pom.xml
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/BasicAuthTest.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/CustomForbiddenMessageTest.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/SecurityContextTest.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/TwoSecurityDomainsTest.java
  testsuite/pom.xml
Labels: 4.6

#2844 Port of Travis CI removal
  .github/workflows/maven.yml
  .travis.yml
  README.md
  pom.xml
  resteasy-dependencies-bom/pom.xml
  resteasy-spring-web/pom.xml
  testsuite/README.MD
  testsuite/arquillian-utils/src/main/java/org/jboss/resteasy/setup/AbstractUsersRolesSecurityDomainSetup.java
  testsuite/config/enable-elytron-full.cli
  testsuite/integration-tests-spring-web/deployment/pom.xml
  testsuite/integration-tests-spring-web/pom.xml
  testsuite/integration-tests-spring/deployment/pom.xml
  testsuite/integration-tests-spring/inmodule/pom.xml
  testsuite/integration-tests-spring/inmodule/src/test/java/org/jboss/resteasy/test/spring/inmodule/SpringMvcHttpResponseCodesTest.java
  testsuite/integration-tests-spring/pom.xml
  testsuite/integration-tests/pom.xml
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/BasicAuthTest.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/CustomForbiddenMessageTest.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/SecurityContextTest.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/security/TwoSecurityDomainsTest.java
  testsuite/pom.xml
Labels: 4.5

#2765 [RESTEASY-1859] switched to using getDeclaredConstructor
  resteasy-core/src/main/java/org/jboss/resteasy/core/FormInjector.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/resource/constructor/PrivateNoArgConstructorTest.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/resource/constructor/resource/HappinessParams.java
  testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/resource/constructor/resource/PrivateNoArgConstructorResource.java
Labels: main

#2761 [RESTEASY-2872] Multipart annotation ignored when using async rest client
  resteasy-client/src/main/java/org/jboss/resteasy/client/jaxrs/internal/proxy/ClientInvoker.java
Labels: main

#2463 [RESTEASY-2943] Support reactive publishers at the engine level.
  docbook/reference/en/en-US/modules/RESTEasy_Client_Framework.xml
  resteasy-client-api/src/main/java/org/jboss/resteasy/client/jaxrs/PublisherRxInvoker.java
  resteasy-client-reactor-netty/src/main/java/org/jboss/resteasy/client/jaxrs/engines/ReactorNettyClientHttpEngine.java
  resteasy-client/src/main/java/org/jboss/resteasy/client/jaxrs/engines/ReactiveClientHttpEngine.java
  resteasy-client/src/main/java/org/jboss/resteasy/client/jaxrs/internal/ClientInvocation.java
  resteasy-client/src/main/java/org/jboss/resteasy/client/jaxrs/internal/PublisherRxInvokerImpl.java
  resteasy-reactor/pom.xml
  resteasy-reactor/src/main/java/org/jboss/resteasy/reactor/MonoRxInvoker.java
  resteasy-reactor/src/main/java/org/jboss/resteasy/reactor/MonoRxInvokerImpl.java
  resteasy-reactor/src/main/java/org/jboss/resteasy/reactor/MonoRxInvokerProvider.java
  resteasy-reactor/src/test/java/org/jboss/resteasy/reactor/ReactorResource.java
  resteasy-reactor/src/test/java/org/jboss/resteasy/reactor/ReactorTest.java
  resteasy-rxjava2/src/main/java/org/jboss/resteasy/rxjava2/SingleRxInvokerImpl.java
  resteasy-rxjava2/src/main/java/org/jboss/resteasy/rxjava2/SingleRxInvokerProvider.java
Labels: main
